@model IEnumerable<CleanStudentManagementModel.ResultViewModel>

@{
    ViewData["Title"] = "ExamResultView";
}

<h1>ExamResultView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrongAnswer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongAnswer)
            </td>
            <td hidden>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
